<div class="book">
  <a href="my_books?add=<%= id %>"
    ><img class="image-book" src="<%= img_link %>" alt="<% title %>"
  /></a>
<div>
  <a class="want-read" href="my_books?add=<%= id %>">Want to Read</a>
</div>
<a class="mark-read" href="">Mark as read</a>
</div>
