<div class="my-books-item">
  <div class="image">
    <img src="/images/image-book2.png" alt="«%= title%>" />
  </div>
  <p class="book-description">
    Girl, Stop Apologizing: A Shame-Free Plan for Embracing and Achieving Your
    Goals
  </p>
  <span class="author">Rachel Hollis</span>
  <span class="status">Want to read</span>
  <span class="date added">May 06, 2020</span>
  <div class="icons">
    <a href="action?=edit"><img src="/images/edit.png" alt="edit"></a>
    <a href="action?=delete"><img src="/images/delete.png" alt="delete"></a>
  </div>
</div>
