<div class="book-details">
  <div class="book-details__image">
    <img src="https://books.google.com/books/content?id=zx46DwAAQBAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE71-fQO2iozBT-BAsaY3TAh_4j7F1FEustagnVz3tJMl8JYAPr-golPw6qU4zEtmcnDLjfYIzhFq3NgZJtV9KujjjFiYRF5PxLeRxu4CQAS_w_l-TIL79mv0XXXKV4GN1K_7iWn3&source=gbs_api" alt="Book cover for The Expanse">
  </div>

  <div class="book-details__info">
    <div>
      <h1 class="book-details__info__title">Persepolis Rising</h1>
      <h2 class="book-details__info__author">by James S. A. Corey</h2>
    </div>
  
    <div class="book-details__info__form">
      <form action="POST">
        <label for="reading_status">Reading Status</label>
        <select id="reading_status">
          <option value="reading">Reading</option>
          <option value="not_read">Not read</option>
          <option value="want_to_read">Want to read</option>
        </select>

        <label for="notes">Notes</label>
        <textarea id="notes" name="notes" id="notes" cols="50" rows="8"></textarea>

        <button type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
