<footer class="footer">
  <p>Made by <a href="https://github.com/alexandell">alexandell</a>, <a href="https://github.com/echounit1">echounit1</a> and <a href="https://github.com/robertmedinasb">robertmedinasb</a></p>
  <br>
  <p>
    <a href="https://github.com/g7-finereads/finereads">
      <i class="fab fa-github"></i>
    </a>
  </p>
</footer>
