  <nav class="navbar">
  <h1 class="navbar-logo">Fine<strong>reads</strong></h1>
  <ul class="navbar-main">
    <li class="navbar-item">
      <a href="/my_books" class="navbar-books">My books</a>
    </li>
    <li class="navbar-item">
      <a href="/books?q=" class="navbar-books">Find Books</a>
    </li>
  </ul>
</nav>
