<div class="hero">
  <div class="hero-img"></div>
  <div class="hero-content">
    <h1 class="logo-finereads">
      Meet <span class="logo-finereads-reads">Fine</span>reads
    </h1>
    <h2 class="hero-content-text">Your new personal Library</h2>
    <a href="/books" class="hero-content-button">Get started</a>
  </div>
</div>
