<<<<<<< HEAD

=======
<div class="hero">
<div class="hero-img"></div>
<div class="hero-content">
    <h1 class="logo-finereads">
    Meet <span class="logo-finereads-reads">Fine</span>reads
    </h1>
    <div class="hero-content-text">Your new personal Library</div>
    <a href="/search" class="hero-content-button">Get started</a>
</div>
</div>
>>>>>>> 9258e1407fa77ccd1c3f45899ae4a6735e458aa7
