<% unless @arrayitems.nil? %>
  <div class="list-books">
    <% @arrayitems.each_slice(4) do |row|%>
      <ul class="row">
        <% row.each do |book| %>
          <% id = book[0] %>
          <% title = book[1][1] %>
          <% img_link = book[1][0] %>
          <% language = book[1][5] %>
          <li class="list-item">
            <%= erb '/books/book_card'.to_sym,
              locals: { id: id, title: title, img_link: img_link, language: language } %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
