<ul class="row">
  <% 4.times do %>
    <li class="list-item"><%= erb 'books/book_card'.to_sym %></li>
  <% end %>
</ul>
<ul class="row">
  <% 4.times do %>
    <li class="list-item"><%= erb 'books/book_card'.to_sym %></li>
  <% end %>
</ul>
