<div class="list-mybooks">
  <h1 class="my-books-title">My books</h1>
  <div class="header">
    <span class="header-cover">Cover</span>
    <span class="header-title">Title</span>
    <span class="header-author">Author</span>
    <span class="header-status">Status</span>
    <span class="header-date">Date added</span>
  </div>
  <% unless @books.nil? %>
    <% @books.each do |book| %>
      <%  cover = book.image %>
      <%  id = book.id %>
      <%  title = book.title %>
      <%  authors = book.authors.join%>
      <% if @status.nil? %>
        <%  status = book.status.capitalize.gsub(/_/," ")%>
      <% else %>
        <%= status = @status  %>
      <% end %>
      <%  date = book.date%>
      <%= erb '/books/card_my_books'.to_sym, 
        locals: { cover: cover, title: title, authors: authors,
        status: status, date: date, id: id } %>
    <% end %>
  <% end %>
</div>
