<section class="section-search">
  <h2>Find your next book to read</h2>
  <div class="search-field">
    <form action="/books?" method="get" class="search">
      <input
        type="search"
        name="q"
        id="search"
        placeholder="Search a book..."
      />
      <div class="search-icon">
        <i class="fas fa-search"></i>
        <input type="submit"  value="" />
      </div>
    </form>
   </div>
</section>
