<%= erb :search %>
<%= erb :list_books,locals:{search_by: @search_by}%>
<% if @arrayitems.nil? %>
  <div class ="waiting">
    <img src="/images/waiting.png"/>
    <h3>Waiting for a query</h3>
  </div>
<% end %>
