<section class="search">
  <h1>Find your next book to read</h1>
  <form class="form" action="/search" method="get">
    <input class="input" type="text" name="query" id="" placeholder="Search a book...">
    <button class="submit" type="submit"></button>
  </form>
</section>