<section class="section-search">
  <h2>Find your next book to read</h2>
  <div class="search-field">
    <form action="/books?" method="get" class="search">
      <input type="search" name="q" id="search" placeholder="Search a book..." />
      <div class="search-icon">
        <i class="fas fa-search"></i>
        <input type="submit" value="">
      </div>
    </form>
  </div>
</section>
<%# =======
<section class="search">
  <h1>Find your next book to read</h1>
  <form class="form" action="/search" method="get">
    <input class="input" type="text" name="query" id="" placeholder="Search a book...">
    <button class="submit" type="submit"></button>
  </form>
</section>
>>>>>>> 9258e1407fa77ccd1c3f45899ae4a6735e458aa7 %>
