<section class="section-search">
  <h2>Find your next book to read</h2>
  <% search_by = {All: 'All' ,inauthor: 'Author', inpublisher: 'Publisher',
  subject: 'Subject',isbn: 'ISBN'} %>
  <label for="search_by">Search By </label>
  <div class="search-field">
    <form action="/search?" method="get" class="search">
      <div class="search_book">
        <input
        type="search"
        name="q"
        id="search"
        placeholder="Search a book by ..."
      />
          <select id="search_by" name ="search_by">
            <% search_by.each do |key, value| %>
              <option value="<%= key %>">
                <%= value %>
              </option>
            <% end %>
          </select>
          <div class="search-icon">
            <i class="fas fa-search"></i>
            <input type="submit"  value="" />
          </div>
        </form>
      </div>
    </div>
  </section>
