* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-detail {
  display: flex;
  max-width: 1024px;
  width: 70%;
  margin: 71px auto;
  text-align: justify;
}

.book-description {
  width: fit-content;
  margin-left: 22px;
}

.book-description a {
  color: #ed8936;
}

.book-description h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #1a202c;
}
.book-description .book-author {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #4a5568;
}

.book-description .book-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a202c;
  margin-top: 19px;
  margin-bottom: 28px;
}
.book-description .book-buy {
  margin-top: 15px;
  padding: 8px 14px;
  background-color: #9ae6b4;
  color: #1a202c;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin-left: auto;
}

.book-logo .book-read {
  padding: 8px 2px;
  background-color: #38a169;
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  font-weight: normal;
  display: flex;
  justify-content: center;
  max-width: 110px;
  margin: 12px auto;
  width: 100%;
}

.book-logo .book-mark {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #2b6cb0;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.book-logo img {
  height: 230px;
  width: 153px;
  margin: 0px 29px 0px 20px;
}
@media (max-width: 768px) {
  .book-detail {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .book-description .book-buy {
    margin-right: 20px;
  }
}
