/* Styles about items on search page*/

/* Card Items*/
.book {
  background: #d8d8d8;
  margin: 20px 12px;
  width: 202px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.book div {
  margin: 12px 12px 8px 0;
}
.image-book {
  margin: 16px 29px 0px 20px;
  height: 230px;
  width: 153px;
}
.want-read {
  background: #38a169;
  padding: 7px 15px 5px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}
.mark-read {
  margin: 8px 12px 16px 0;
  color: #2b6cb0;
  font-size: 14px;
  line-height: 16px;
}

/* List Books Styles*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
@media (max-width: 930px) {
  .list-books ul {
    max-width: 500px;
    margin: 0 auto;
  }
}
