.list-mybooks {
  display: grid;
  grid-template-rows: auto;
  width: fit-content;
  margin: 70px auto;
}
.my-books-title {
  font-size: 36px;
  line-height: 49px;
  font-weight: normal;
}
.my-books-item {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70px 184px 191px 95px 150px 54px;
  width: fit-content;
  justify-content: center;
  padding: 19px 0 12px 0;
  border-top: 1px solid rgba(113, 128, 150, 0.8);
}
.header {
  display: grid;
  margin-top: 14px;
  padding: 12px 0;
  grid-template-columns: 70px 184px 191px 95px 150px 54px;
}
.header span {
  text-align: center;
}
.header span.header-status,
.header span.header-date,
.header span.header-author {
  text-align: left;
  padding: 0 6px;
}
.image img {
  width: 70px;
  height: 105px;
}
.my-books-item p {
  font-size: 18px;
  line-height: 19px;
  color: #ed8936;
  margin: 0 auto;
  padding: 0 6px;
  text-align: center;
}
.my-books-item span {
  color: #1a202c;
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons a {
  cursor: pointer;
}
.icons a img {
  margin: 0 4px;
  width: 18px;
  height: 18px;
}

@media (max-width: 768px) {
  .list-mybooks {
    width: 90%;
    margin: 40px auto;
  }
  .my-books-title {
    margin: 0 auto;
  }

  .my-books-item {
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(2, auto);
    text-align: center;
  }

  .my-books-item p {
    font-size: 18px;
    margin: 0 auto;
  }
  span.status {
    text-align: left;
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: start;
    padding: 0 10px;
  }
  div.icons {
    display: flex;
    justify-content: flex-end;
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .list-mybooks > .header {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
    width: 360px;
    margin: 0 auto;
  }

  .header span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-status {
    grid-column: 2/3;
    grid-row: 2/4;
  }
}
