.list-mybooks {
  display: grid;
  grid-template-rows: auto;
  width: fit-content;
  margin: 70px auto;
}
.my-books-title {
  font-size: 36px;
  line-height: 49px;
  font-weight: normal;
}
.my-books-item {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  padding: 19px 0 12px 0;
  border-top: 1px solid rgba(113, 128, 150, 0.8);
}
.header {
  display: grid;
  margin-top: 14px;
  padding: 12px 0;
  grid-template-columns: 70px 184px 95px 191px 100px 54px;
}
.header span {
  text-align: center;
}
.image img {
  width: 70px;
  height: 105px;
}
.my-books-item p {
  font-size: 14px;
  line-height: 19px;
  color: #ed8936;
  max-width: 116px;
  margin: 0 32px 0 36px;
}
.my-books-item span {
  color: #1a202c;
}
.status {
  margin: 0 61px 0 36px;
}
.icons {
  margin-left: 19px;
}
.icons a {
  margin: 2px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .list-mybooks {
    width: 90%;
    margin: 40px auto;
  }
  .my-books-item {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, auto);
    text-align: center;
  }

  .status {
    margin: 0 auto;
    text-align: center;
  }
  div.icons {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  div.icons a {
    margin: 5px;
  }
  .list-mybooks > .header {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
    width: 100%;
  }

  .header span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-status {
    grid-column: 2/3;
    grid-row: 2/4;
  }
}
